@font-face {
    font-family: 'Prinses';
    src: url('../fonts/PrinsesstartaBoldDEMO.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Prinses';
    box-sizing: border-box;
}

header {
    height: 10vh;
    padding: 15px;
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

header h1 {
    font-size: 1.3em;
}

ul {
    display: flex;
    margin: 10px;
}

li {
    list-style-type: none;
    padding-left: 1em;
    cursor: pointer;
    font-size: 0.75em;
}

li > a {
    text-decoration: none;
    color: #000;
}

main > h3 {
    font-size: 0.9em;
    padding-top: 15px;
    padding-left: 15px;
}

main > h4 {
    font-size: 0.8em;
    padding-left: 15px;
    padding-top: 5px;
}

#box {
    width: 300px;
    margin: auto;
    padding: 10px;
}

#box > p {
    text-align: center;
    font-size: 0.8em;
}

#box > a {
    font-size: 0.8em;
    display: flex;
    justify-content: end;
}

section.container {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    width: 300px;
    height: 220px;

    margin: auto;
}

#form > label {
    font-size: 0.85em;
}

#form > p {
    margin-bottom: 8px;
}

#formExe {
    padding: 15px;

}

#formExe fieldset {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 15px;
    width: 300px;
}

fieldset {
    padding: 10px;
    margin: auto;
}

.buttons {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.buttons > button {
    margin: 5px;
}

.customerSize {
    width: 250px; 
}

a {
    text-align: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    header h1 {
        font-size: 2.0em
    }

    li {
        font-size: 1.0em;
    }

    main > h3 {
        font-size: 1.4em;
    }

    main > h4 {
        font-size: 1.1em;
    }

    .imagesContainer {
        width: 10px;
    }

    .slider {
        position: relative;
    }

    #formExe {
        margin: 10px;
    }

    #formExe fieldset {
        display: block;
        padding: 20px;
        width: 700px;
    }

    fieldset #userCR, fieldset #senhaCR {
        width: 200px;
    }

    fieldset #anoCR, fieldset #orgaoCR {
        width: 100px;
    }
}
